.navbar{
	background-color:white;
	font-size: 1.25em;
	border-color: white;
	font-family: "Courier New";
	height:31%;
	top: -8vh;
}

.navtop{
	position: relative;
	top: -5em;
}

.navbar-header{
	font-style: bold; 
	padding-top: 5vh;
	padding-left: -5vh;
}


.logo{
	height: 15%;
	width: 15%;
	position: relative;
	margin-left: 2vh;
	margin-top: -1.4%;
}

.bike{
	position: relative;
	top: 23vh;
	width: 104%;
	margin-left: -2%;
	margin-right:-2%;
}

#slogan{
	font-family: "Courier New";
	color:white;
	font-size: 3.5em;
	position: relative;
	top:-30vw;
	text-align: center;
}

#arrow{
	width:5em;
	height:5em;
	position: absolute;
	margin-top: -10%;
	margin-left:45%;
}

#team{
	width: 100%
}