.navbar{
	background-color:white;
	font-size: 1.25em;
	border-color: white;
	font-family: "Courier New";
	top: -2em;
}

.navtop{
	position: relative;
    top: -8em;
}

.navbar-header{
	font-style: bold; 
	padding-top: 2em;
/*	padding-bottom: 2em;
*/	padding-left: 5em;
}

.logo{
	height: 25%;
	width: 25%;
}